<div class="container">
  <h1>タスク一覧</h1>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
  <%= link_to "新規登録", new_task_path, class: "btn btn-primary" %>

  <div class="md-3">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>
            <%= Task.human_attribute_name(:name) %>
          </th>
          <th>
            <%= Task.human_attribute_name(:created_at) %>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= link_to t.name, task_path(t) %></td>
            <td><%= t.created_at %></td>
            <td><%= link_to "編集", edit_task_path(t), class: "btn btn-primary mr-3" %></td>
            <td><%= link_to "削除", task_path(t), method: :delete, data: {confirm: "タスク#{t.name}を削除すんで？"}, class: "btn btn-danger" %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
