<div class="container">
  <h1>タスク一覧</h1>
  <p><%= flash[:notice] %></p>
  <%= link_to "新規登録", new_task_path, class: "btn btn-primary" %>

  <div class="md-3">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>
            <%= Task.human_attribute_name(:name) %>
          </th>
          <th>
            <%= Task.human_attribute_name(:created_at) %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= t.name %></td>
            <td><%= t.created_at %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
